@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;

  background-repeat: repeat-y;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /*place-items: center;*/
  background: white;
  background-repeat: repeat-y;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: purple;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
  outline: none;
}
button:active {
  outline: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}
#centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  body {
    display: block;
  }
}
